@import "./config";

//HEADER
.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 800;

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 30px;
      margin: 5px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: 5px;
    }
  }
}

//HOME SECTION

.home {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: right;
  align-items: center;

  &_text {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    position: relative;
    top: -3rem;

    .home_heading {
      font-size: 7rem;
      font-family: "Grenze Gotisch", cursive;
      font-weight: 500;
    }
    .home_paragraph {
      font-size: 1.3rem;
    }
    .btn {
      margin-top: 10px;
      padding: 10px 30px;
      outline: none;
      cursor: pointer;
      border: 1px solid #fff;

      &:hover {
        transition: 0.8s ease-in-out;
        background: none;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }

  &_img {
    display: flex;
    flex-direction: row;

    img {
      position: absolute;
      border-radius: 2rem;
    }

    .home_img_1 {
      top: 20rem;
      z-index: 2;
      width: 350px;
      margin-left: 5rem;
    }
    .home_img_2 {
      top: 10rem;
      margin-left: 10rem;
    }
  }
}

// CATEGORIES

.categories {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .cat_text {
    position: relative;
    top: -3rem;

    .heading1 {
      margin-bottom: 10px;
      font-size: 2rem;
      color: darken($color: #7e7e7e, $amount: 5%);
    }

    .heading2 {
      font-size: 5rem;
      font-family: "Grenze Gotisch", cursive;
    }

    .paragraph {
      font-size: 1.3rem;
      margin-top: 5px;
    }
  }

  .categories {
    display: flex;
    align-items: center;
    margin-left: 10rem;

    .category {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-right: 4rem;
      place-items: center;
      padding: 20px;

      img {
        border-radius: 2rem;
        margin: 10px;
        width: 300px;
        height: 300px;
      }
      h1 {
        font-size: 3.5rem;
        position: relative;
        top: 0rem;
        font-family: "Grenze Gotisch", cursive;
      }
      .img_1 {
        position: relative;
        top: 5rem;
      }

      .img_2 {
        position: relative;
        top: -15rem;
      }

      p {
        font-size: 1.3rem;
        position: relative;
        bottom: 8.5rem;
      }
    }
  }
}

// FACTS

.facts {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &_text {
    position: relative;
    top: -3rem;
    .heading1 {
      margin-bottom: 10px;
      font-size: 2rem;
      color: darken($color: #7e7e7e, $amount: 5%);
    }

    .heading2 {
      font-size: 5rem;
      font-family: "Grenze Gotisch", cursive;
    }
  }

  ul {
    margin: 10rem;
    font-size: 1.3rem;
    position: relative;
    padding: 10rem;
    position: relative;
    top: 1.5rem;
    min-height: 40rem;
    min-width: 120rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.end {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -3rem;

  .bio {
    .heading {
      margin-bottom: 10px;
      font-size: 5rem;
      font-family: "Grenze Gotisch", cursive;
    }
    .paragraph {
      font-size: 1.3rem;
      color: darken($color: #7e7e7e, $amount: 5%);
    }

    h4 {
      @extend .paragraph;
      text-transform: uppercase;
    }
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    margin-top: 10rem;

    h4 {
      font-size: 1.5rem;
      color: darken($color: #7e7e7e, $amount: 5%);
      text-transform: uppercase;
    }

    .icons {
      i {
        font-size: 30px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  .footerImg {
    width: 100vw;
    height: 25px;
  }
}


@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@include media-sm() {
.home{
  margin-left: -9rem;
}
}