@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  color: #fff;
}

.block {
  min-width: 140rem;
  height: 80vh;
  padding: 2rem 0rem;
  margin-top: -2rem;
}

.block:not(:last-child) {
  margin-right: 10rem;
}

.block:last-child {
  width: 10rem;
}

.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 800;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav img {
  width: 30px;
  margin: 5px;
}

.header .nav h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 5px;
}

.home {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12rem;
}

.home_text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: -3rem;
}

.home_text .home_heading {
  font-size: 7rem;
  font-family: "Grenze Gotisch", cursive;
  font-weight: 500;
}

.home_text .home_paragraph {
  font-size: 1.3rem;
}

.home_text .btn {
  margin-top: 10px;
  padding: 10px 30px;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
}

.home_text .btn:hover {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.home_img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -45rem;
}

.home_img img {
  position: absolute;
  border-radius: 2rem;
}

.home_img .home_img_1 {
  left: 0;
  top: 0;
}

.home_img .home_img_2 {
  left: 33rem;
  top: 4rem;
}

.home_img .home_img_3 {
  left: 33rem;
  top: 20rem;
}

.home_img .home_img_4 {
  left: 45rem;
  top: 0rem;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories .cat_text {
  position: relative;
  top: -3rem;
}

.categories .cat_text .heading1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #717171;
}

.categories .cat_text .heading2 {
  font-size: 5rem;
  font-family: "Grenze Gotisch", cursive;
}

.categories .cat_text .paragraph, .categories .cat_text .end .bio h4, .end .bio .categories .cat_text h4 {
  font-size: 1.3rem;
  margin-top: 5px;
}

.categories .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10rem;
}

.categories .categories .category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-right: 4rem;
  place-items: center;
  padding: 20px;
}

.categories .categories .category img {
  border-radius: 2rem;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.categories .categories .category h1 {
  font-size: 3.5rem;
  position: relative;
  top: 0rem;
  font-family: "Grenze Gotisch", cursive;
}

.categories .categories .category .img_1 {
  position: relative;
  top: 5rem;
}

.categories .categories .category .img_2 {
  position: relative;
  top: -15rem;
}

.categories .categories .category p {
  font-size: 1.3rem;
  position: relative;
  bottom: 8.5rem;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.facts_text {
  position: relative;
  top: -3rem;
}

.facts_text .heading1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #717171;
}

.facts_text .heading2 {
  font-size: 5rem;
  font-family: "Grenze Gotisch", cursive;
}

.facts ul {
  margin: 10rem;
  font-size: 1.3rem;
  position: relative;
  padding: 10rem;
  position: relative;
  top: 1.5rem;
  min-height: 40rem;
  min-width: 120rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -3rem;
}

.end .bio .heading {
  margin-bottom: 10px;
  font-size: 5rem;
  font-family: "Grenze Gotisch", cursive;
}

.end .bio .paragraph, .end .bio h4 {
  font-size: 1.3rem;
  color: #717171;
}

.end .bio h4 {
  text-transform: uppercase;
}

.end .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 80px;
  margin-top: 10rem;
}

.end .socials h4 {
  font-size: 1.5rem;
  color: #717171;
  text-transform: uppercase;
}

.end .socials .icons i {
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.footer .footerImg {
  width: 100vw;
  height: 40px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .footer .footerImg {
    height: 25px;
  }
}
