@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #fff;
}

.block {
  min-width: 140rem;
  height: 80vh;
  padding: 2rem 0rem;
  margin-top: -2rem;
}

.block:not(:last-child) {
  margin-right: 8rem;
}

.block:last-child {
  width: 40rem;
}

.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 800;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav img {
  width: 30px;
  margin: 5px;
}

.header .nav h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 5px;
  font-family: 'Do Hyeon', sans-serif;
}

.home {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 15rem;
}

.home_text .home_heading {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: 'Vollkorn', serif;
}

.home_text .paragraph {
  font-size: 1.5rem;
}

.home_text .btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #000292;
  outline: none;
  cursor: pointer;
}

.home_img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -45rem;
}

.home_img img {
  max-width: 30%;
  position: absolute;
  border-radius: 2rem;
}

.home_img_1 {
  left: -10rem;
  top: 10rem;
}

.home_img_2 {
  left: 30rem;
  top: 10rem;
}

.home_img_3 {
  left: 30rem;
  top: 33rem;
}

.home_img_4 {
  left: 10rem;
  top: 23rem;
  z-index: 2;
}

.home_img_5 {
  left: -10rem;
  top: 33rem;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories .cat_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.categories .cat_text .heading1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.categories .cat_text .heading2 {
  font-size: 5rem;
  font-family: 'Vollkorn', serif;
}

.categories .cat_text .paragraph {
  font-size: 1.5rem;
  margin-top: 10px;
}

.categories .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10rem;
}

.categories .categories .category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-right: 4rem;
  place-items: center;
  padding: 20px;
}

.categories .categories .category img {
  border-radius: 2rem;
  margin: 10px;
}

.categories .categories .category h1 {
  font-size: 3.5rem;
  position: relative;
  top: 7rem;
}

.categories .categories .category .img_1 {
  position: relative;
  top: 12rem;
}

.categories .categories .category .img_2 {
  position: relative;
  top: -8rem;
}

.categories .categories .category p {
  font-size: 1.5rem;
  position: relative;
  top: -1rem;
  line-height: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.footer .footerImg {
  width: 100vw;
  height: 30px;
}
